*{
    margin: 0px;
    padding: 0px;
}
.clearfix{
    *zoom: 1;
}
.clearfix:after{
    content: "";
    display: block;
    clear: both;
}
ul li{
    list-style: none;
}
a{
    text-decoration: none;
    color: #000;
}
.main{
    width: 780px;
    height: 240px;
    padding: 10px;
    margin: 50px auto;
    font-size: 14px;
    border: 10px solid #c0c0c0;
}
#left, .center{
    float: left;
}
#left, #right{
    width: 300px;
    height: 220px;
    border: 1px dashed #000;
    padding: 10px;
}
#left p, #right p{
    line-height: 22px;
}
#left{
    background: #efefd6;
}
#right{
    background: #63eff7;
    float: right;
}
#scroll{
    margin-left: 20%;
}
#change{
    display: inline-block;
    width: 120px;
    height: 40px;
    line-height: 40px;
    color: #fff;
    font-size: 16px;
    text-align: center;
    margin: 0 8px 15px;
    background: #f76300;
}
#change:hover{
    background: #c63908;
}
#page{
    text-align: center;
    margin-bottom: 23px;
}
#scroll li{
    float: left;
    width: 8px;
    height: 10px;
    background: #e7a521;
    margin-left: 2px;
}