*{
    margin: 0px;
    padding: 0px;
}
#main{
    width: 300px;
    margin: 20px auto;
    border: 1px solid grey;
}
#content{
    width: 300px;
    height: 500px;
    overflow-y: auto;
}
.dialogA{
    text-align: right;
}
#content img{
    width: 30px;
    height: 30px;
    vertical-align:text-top;
    margin:0 5px;
}
.dialogA span{
    background: blue;
    color: white;
}
.dialogB span{
    background: grey;
    color: black;
}
.dia{
    margin: 5px;
}
.dia span{
    display: inline-block;
    max-width: 80%;
    padding: 5px;
    vertical-align: text-top;
    word-wrap: break-word;
}
#dialog input{
    width: 190px;
    line-height: 30px;
    vertical-align: middle;
    font-size: 20px;
}
#dialog{
    margin: 5px;
}
#dialog img{
    height: 30px;
    width: 30px;
    cursor: pointer;
    vertical-align: middle;
}
.send{
    text-decoration: none;
    display: inline-block;
    width: 40px;
    border: 1px solid #ccc;
    text-align: center;
    line-height: 30px;
    color: grey;
    background: #ccc;
}
.send:hover{
    background: #333;
}
#dialog input, #dialog span, .send{
    border-radius: 3px;
}
#dialog span{
    display: inline-block;
    border: 1px solid #ccc;
}