*{
    margin: 0px;
    padding: 0px;
}
a{
    text-decoration: none;
}
ul li{
    list-style: none;
}
.clearfix{
    *zoom: 1;
}
.clearfix:after{
    content: "";
    display: block;
    clear: both;
}
.nav{
    width: 544px;
    margin: 100px auto;
    background: #215a9c;
    border-radius: 5px;
}
.item li{
    float: left;
}
.item > li{
    position: relative;
    background:url(../images/line.png) no-repeat right center;
}
.item > li > a{
    display: inline-block;
    height: 25px;
    line-height: 25px;
    font-size: 14px;
    color: #fff;
    padding: 0 20px;
    border-radius: 5px;
    margin: 5px
}
.item > li > a:hover{
    background: #638cb5;
}
.more{
    float: right !important;
}
.itemList{
    min-width: 320px;
    padding: 0 15px;
    border: 1px solid #94b5d6;
    position: absolute;
    top: 45px;
    background: #c6d6e7;
    display: none;
}
.itemList li{
    background: url(../images/line2.png) no-repeat right center;
}
.itemList li a{
    display: inline-block;
    height: 25px;
    line-height: 25px;
    padding: 0 8px;
    color: #215a9c;
}
.itemList li a:hover{
    text-decoration: underline;
}